/*==============================================================================
/* AirbnbCereal
/*==============================================================================*/

@font-face {
    font-family: 'AirbnbCereal';
    src: url(./fonts/AirbnbCereal-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCereal';
    src: url(./fonts/AirbnbCereal-Book.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCereal';
    src: url(./fonts/AirbnbCereal-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCereal';
    src: url(./fonts/AirbnbCereal-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCereal';
    src: url(./fonts/AirbnbCereal-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'AirbnbCereal';
    src: url(./fonts/AirbnbCereal-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

/*==============================================================================
/* CircularStd
/*==============================================================================*/

@font-face {
    font-family: 'CircularStd';
    src: url(./fonts/CircularStd-Book.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url(./fonts/CircularStd-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url(./fonts/CircularStd-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url(./fonts/CircularStd-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url(./fonts/CircularStd-BookItalic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CircularStd';
    src: url(./fonts/CircularStd-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'CircularStd';
    src: url(./fonts/CircularStd-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'CircularStd';
    src: url(./fonts/CircularStd-BlackItalic.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}

/*==============================================================================
/* Dubai
/*==============================================================================*/

@font-face {
    font-family: 'Dubai';
    src: url(./fonts/Dubai-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Dubai';
    src: url(./fonts/Dubai-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dubai';
    src: url(./fonts/Dubai-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Dubai';
    src: url(./fonts/Dubai-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*==============================================================================
/* ReemKufi
/*==============================================================================*/

@font-face {
    font-family: 'ReemKufi';
    src: url(./fonts/ReemKufi-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ReemKufi';
    src: url(./fonts/ReemKufi-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ReemKufi';
    src: url(./fonts/ReemKufi-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ReemKufi';
    src: url(./fonts/ReemKufi-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*==============================================================================
/* Index
/*==============================================================================*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:focus, *:hover {
    outline: none;
}

::-webkit-scrollbar {
    width: 16px;
}
  
::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: rgba(0,0,0,0.0);
    transition: background-color .4s;
}

:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.15);
    transition: background-color .4s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.25);
    transition: background-color .4s;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body, input, textarea, code {
    font-family: AirbnbCereal, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

code {
    padding: 2px 4px;
    background-color: #eee;
    border-radius: 3px;
    white-space: pre-wrap;
}

.arabic {
    font-family: Calibri, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "Open Sans", Arial, sans-serif;
    font-weight: 500;
    line-height: 1.75;
    direction: rtl;
    unicode-bidi: isolate;
}

.uppercase {
    font-family: CircularStd, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.main-404 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.message-404 h1 {
    font-size: 2rem;
    margin: 1rem 0;
}

.collage-404 h1 {
    font-size: 20vw;
    font-weight: 500;
    margin: 0;
    padding: 0;
    display: inline-block;
}

/* App Bar */
.app-bar {
    display: -ms-grid;
    display: grid;
    padding-right: 36px;
    padding-left: 36px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 0.25fr 1fr 0.25fr;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.left-bar, .center-bar, .right-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.left-bar {
    padding-left: 48px;
}

.center-bar {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    font-size: 24px;
    font-weight: bold;
    color: #8e8e93;
}

.right-bar {
    padding-right: 48px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.home-body {
    position: absolute;
    left: 0px;
    top: 0px;
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    grid-auto-columns: auto;
    grid-auto-rows: 1fr;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 145px 1fr;
    grid-template-rows: 145px 1fr;
    overflow: hidden;
    background-color: #fff;
}

.home-layout {
    /* Grid */
    display: -ms-grid;
    display: grid;

    /* Auto Layout */
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;

    overflow: hidden;
    width: 100%;
    height: 100%;

    background: #FFFFFF;

    /* Inside Auto Layout */
    grid-auto-columns: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 540px;
    grid-template-columns: 1fr 540px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

/* Container */
.home-container {
    /* Auto Layout */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 64px 0 0 80px;

    overflow: auto;
    width: 100%;
    height: 100%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

/* Menu */
.layout {
    /* Auto Layout */
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 49px 48px 16px;

    width: 100%;
    height: 100%;
    max-width: 1225px;

    background: #F2F2F7;
    border-radius: 50px 50px 0px 0px;

    /* Inside Auto Layout */
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.menu {
    /* Auto Layout */
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 24px;

	overflow-x: hidden;
	overflow-y: auto;
    height: calc(100% - 21px);

    /* Inside Auto Layout */
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

/* .menu::-webkit-scrollbar, .table-scroll::-webkit-scrollbar, .form-scroll::-webkit-scrollbar, .text-area::-webkit-scrollbar {
    width: 7px;
}

.menu::-webkit-scrollbar-thumb, .table-scroll::-webkit-scrollbar-thumb, .form-scroll::-webkit-scrollbar-thumb, .text-area::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.0);
	border-radius: 10px;
	box-shadow: rgba(255,255,255,0.0) 0 0 0 1px;
}

.menu:hover::-webkit-scrollbar-thumb, .table-scroll:hover::-webkit-scrollbar-thumb, .form-scroll:hover::-webkit-scrollbar-thumb, .text-area:hover::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.15);
}

.menu::-webkit-scrollbar-thumb:hover, .table-scroll::-webkit-scrollbar-thumb:hover, .form-scroll::-webkit-scrollbar-thumb:hover, .text-area::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.25);
} */

.menu-content {
    /* Auto Layout */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    padding: 0 0 32px;

    width: calc(100% + 16px);

    /* Inside Auto Layout */
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.search {
    width: 100%;
}

/* Aside */
.side {
    /* Auto Layout */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 64px 36px 24px;

    overflow: auto;
    height: 100%;

    /* Inside Auto Layout */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

/* Surah Layout */

.surah-layout {
    position: absolute;
    left: 0px;
    top: 0px;

    /* Grid */
    display: -ms-grid;
    display: grid;

    /* Layout */
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-auto-columns: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 600px 1fr 480px;
    grid-template-columns: 600px 1fr 480px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.grid-layout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 64px 0 48px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: auto;
}

.grid-layout.side {
    padding-right: 48px;
    padding-left: 48px;
}

.grid-layout-header {
    font-size: 24px;
    font-weight: bold;
    color: #1c1c1e;
    margin: 0 0 36px;
    text-align: center;
}

.surah-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.surah-nav-prev, .surah-nav-next {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 6px;
}

/*==============================================================================
/* Table
/*==============================================================================*/

.table, .table-layout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.table, .table-layout, .table-scroll {
	overflow-x: hidden;
	overflow-y: auto;
    width: 100%;
    height: 100%;
}

.table {
    padding: 30px 12px 20px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 50px 50px 30px 30px;
    background-color: #f2f2f7;
    width: 100%;
    height: 100%;
}

.table-head {
    margin: 0 0 30px;
    font-size: 36px;
    font-weight: 500;
    min-height: 41px;
    text-align: center;
}

.table-layout {
    padding: 0 6px;
    border-radius: 30px 30px 20px 20px;
    background-color: #fff;
}

.table-container {
    padding: 18px 24px 36px;
    width: calc(100% + 16px);
}

.table-content-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.table-footend {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 36px;
}

.info-none {
    color: #D1D1D6;
}

.info-alias, .info-literal {
    font-weight: 500;
}

.info-arabic, .info-literal {
    margin: 0 0 12px;
}

.info-alias {
    margin: 0 0 36px;
    font-size: 18px;
}

.info-arabic {
    font-size: 72px;
    font-weight: bold;
    line-height: inherit;
}

.info-literal {
    color: #48484a;
    font-size: 48px;
}

.info-verse, .info-classification, .info-none {
    font-size: 24px;
}

.info-mysteriousLetters {
    font-size: 36px;
}

.table-separator {
    margin: 36px 0;
}

.table-col-2-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: center;
}

.table-col-head, .table-content-head {
    margin: 0 0 18px;
    font-size: 24px;
    font-weight: 500;
}

.table-content-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: left;
}

.table-content-list.last {
    padding-top: 3.5px;
}

.index-avail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 12px;
    padding-top: 6px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.info-avail {
    width: 100%;
    margin-bottom: 16px;
    margin-left: 16px;
    font-size: 24px;
}

.info-avail.last {
    margin-bottom: 0;
}

.dot-list {
    max-height: 15px;
}

.space-list {
    width: 4px;
    margin-top: 8px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 2px;
    background-color: #f2f2f7;
}

.ruku-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #f2f2f7;
    padding: 24px 16px;
    border-radius: 20px;
    margin: 0 0 16px;
}

/*==============================================================================
/* Items
/*==============================================================================*/

.item {
    padding: 15px;
    width: 25%;
}

/*==============================================================================
/* Card
/*==============================================================================*/

.card, .card-verse {
    /* Auto Layout */
    display: -ms-grid;
    display: grid;
    padding: 16px;

    border-radius: 15px;
    background-color: #fff;
}

.card {
    user-select: none;
    height: 130px;

    /* Inside Auto Layout */
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    -ms-grid-columns: -webkit-min-content 1fr;
    -ms-grid-columns: min-content 1fr;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.card-verse {
    margin-bottom: 16px;

    grid-auto-columns: auto;
    grid-auto-rows: 1fr;
    grid-row-gap: 16px;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: -webkit-min-content 1fr;
    -ms-grid-rows: min-content 1fr;
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
}

.card-active {
    background-color: #ffcc00;
}

.card-active .title, .card-active .latin, .card-active .literal {
    color: white;
}

.card-active .index {
    background-color: white;
}

/*==============================================================================
/* Card Action
/*==============================================================================*/

.action, .card-verse-action {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.index {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    font-family: ReemKufi, 'Courier New', Courier, monospace;
    color: #8e8e93;
    font-size: 12px;
    font-weight: 700;
    text-align: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e5e5ea;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.editBtn, .card-verse-edit {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    border: none;
    background: none;
    cursor: pointer;
}

.card-verse-edit {
    width: 30px;
}

/*==============================================================================
/* Card Content
/*==============================================================================*/

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    text-align: right;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-verse-content {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-row-gap: 36px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.card-latin-letters {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 12px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.info {
    display: -ms-grid;
    display: grid;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    grid-auto-columns: 1fr;
    grid-row-gap: 12.5px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: -webkit-min-content -webkit-min-content;
    -ms-grid-rows: min-content min-content;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
}

.title, .card-verse-arabic {
    font-weight: 500;
    font-size: 30px;
}

.title {
    color: #8e8e93;
}

.card-verse-arabic, .card-verse-latin, .card-verse-translation {
    color: #1c1c1e;
}

.latin, .card-verse-latin, .card-verse-translation {
    font-size: 18px;
}

.latin {
    font-weight: 700;

    color: #48484a;
}

.card-verse-latin {
    font-weight: 600;
}

.literal {
    font-family: CircularStd, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;

    text-transform: uppercase;
    color: #8e8e93;
}

.title, .latin, .literal {
    line-height: 100%;
}

/*==============================================================================
/* Form
/*==============================================================================*/

/* Title */
.form-title {
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    margin: 0 0 24px;
}

/* Form */
.form-layout {
    border: .5px solid;
    border-color: rgba(0,0,0,.1);
    border-radius: 15px;
    padding: 0 6px;
    overflow: auto;
}

.f-scroll {
    padding: 24px;
}

.form-scroll {
	overflow-x: hidden;
	overflow-y: auto;
    height: 100%;
}

.form-content {
    padding: 24px;
    width: calc(100% + 16px);
}

.label {
    display: block;
    font-size: 16px;
    margin: 0 0 10px 8px;
}

.field {
    min-height: 50px;
}

.text-area {
    padding: 12px;
    min-height: 100px;

    resize: none;
}

.field, .text-area {
    display: block;
    margin: 0 0 16px;

    background-color: #f2f2f7;

    color: #48484a;

    transition: background-color .4s;
}

.field, .submit, .reset {
    padding: 8px 12px;
}

.field, .text-area, .submit, .reset {
    width: 100%;

    font-size: 20px;
    
    border: none;
    border-radius: 15px;
}

.text-area.arabic {
    font-size: 30px;
}

.field:not(:disabled):hover, .text-area:not(:disabled):hover {
    background-color: #e5e5ea;
}

.field:disabled, .text-area:disabled {
    background-color: #d1d1d6;
}

.radio {
    margin: 18px 0 32px 16px;
}

.radio label {
    display: block;
    position: relative;
    padding-left: 35px;
    font-size: 22px;

    margin-bottom: 16px;
    font-size: 20px;
    color: #48484a;
}

.radio label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #f2f2f7;
    border-radius: 50%;
    -webkit-transition: opacity .3s ease-in-out, background-color .4s;
    transition: opacity .3s ease-in-out, background-color .4s;

}

.radio label:hover input ~ .toggle-radio {
    background-color: #e5e5ea;
}

/* .radio label input:checked ~ .toggle-radio {
    border: 5px #007aff solid;
} */

.toggle-radio:after {
    content: "";
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.radio label input:checked ~ .toggle-radio:after {
    opacity: 100;
}

.radio label .toggle-radio:after {
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #007aff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #f2f2f7;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-switch:hover {
    background-color: #e5e5ea;
}

.toggle-switch:before {
    position: absolute;
    content: '';
    height: 24px;
    width: 24px;
    left: 6px;
    bottom: 5px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked + .toggle-switch {
    background-color: #007aff;
}

.switch input:checked + .toggle-switch:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

.submit {
    background-color: #007aff;
    color: white;
}

.submit-edit {
    background-color: #ffcc00;
}

.reset {
    background-color: #d1d1d6;
    color: #8e8e93;
}

.submit, .reset {
    display: inline-block;
    margin: 12px 0 0;
    padding: 10px 12px;

    font-family: CircularStd, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;

    transition: filter .4s;
}

.submit:not(:disabled):hover, .reset:not(:disabled):hover {
    filter: brightness(0.9);
}

.submit:disabled {
    background-color: #f2f2f7;
    color: #d1d1d6;
}

.form-title span, .label span {
    font-weight: 500;
}
