/*==============================================================================
/* Card
/*==============================================================================*/

.card {
    /* Auto Layout */
    display: -ms-grid;
    display: grid;
    padding: 16px;

    user-select: none;
    height: 130px;
    border-radius: 15px;
    background-color: #fff;

    /* Inside Auto Layout */
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    -ms-grid-columns: -webkit-min-content 1fr;
    -ms-grid-columns: min-content 1fr;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

/*==============================================================================
/* Card Action
/*==============================================================================*/

.action {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.index {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    font-family: ReemKufi, 'Courier New', Courier, monospace;
    color: #8e8e93;
    font-size: 12px;
    font-weight: 700;
    text-align: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e5e5ea;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.editBtn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    border: none;
    background: none;
    cursor: pointer;
}

/*==============================================================================
/* Card Content
/*==============================================================================*/

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    text-align: right;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.info {
    display: -ms-grid;
    display: grid;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    grid-auto-columns: 1fr;
    grid-row-gap: 12.5px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: -webkit-min-content -webkit-min-content;
    -ms-grid-rows: min-content min-content;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
}

.title {
    font-weight: 500;
    font-size: 30px;

    color: #8e8e93;
}

.latin {
    font-weight: 700;
    font-size: 18px;

    color: #48484a;
}

.literal {
    font-family: CircularStd, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;

    text-transform: uppercase;
    color: #8e8e93;
}

.title, .latin, .literal {
    line-height: 100%;
}
